# compiled output
**/morfeas-ui/dist
**/morfeas-ui/tmp
**/morfeas-ui/out-tsc
# Only exists if Bazel was run
**/morfeas-ui/bazel-out

# dependencies
**/node_modules
**/.cache

# profiling files
**/morfeas-ui/chrome-profiler-events*.json
**/morfeas-ui/speed-measure-plugin*.json

# misc
morfeas-ui/.sass-cache
morfeas-ui/connect.lock
morfeas-ui/coverage
morfeas-ui/libpeerconnection.log
morfeas-ui/npm-debug.log
morfeas-ui/yarn-error.log
morfeas-ui/testem.log
morfeas-ui/typings
**/Morfeas_env.*

# System Files
.DS_Store
Thumbs.db

# Python
morfeas/venv
__pycache__/
.vscode/
morfeas/config.json

# submodules 
morfeas_web_if/pecl-dbus
