.col-sm-0 {
  -webkit-box-flex: 0;
  flex: 0 0 4.1666666665%;
  max-width: 4.1666666665%;
}

.col-sm-1half {
  -webkit-box-flex: 0;
  flex: 0 0 12.4999999995%;
  max-width: 12.4999999995%;
}

.extraPad {
  padding: 5px 15px 5px 5px;
}