<div>
  <div *ngFor="let details of canBusDetails">
    <div class="row extraPad">
      <div class="m-1 font-weight-bold text-uppercase"><span>{{ details["CANBus-interface"] }}</span></div>
      <div class="m-1"><span>Voltage: {{ details.BUS_voltage }}</span></div>
      <div class="m-1"><span>Amperage: {{ details.BUS_amperage }}</span></div>
      <div class="m-1"><span>Shunt Res Temp: {{ details.BUS_Shunt_Res_temp }}</span></div>
      <div class="m-1"><span>Utilization: {{ details.BUS_Utilization }}</span></div>
      <div class="m-1"><span>Detected SDAQs: {{ details.Detected_SDAQs }}</span></div>
      <div class="m-1"><span>Build date: {{ details.logstat_build_date_UTC }}</span></div>
    </div>
  </div>
</div>