# This is the FTP config for backups
# Modify to your own configutation and nano /home/morfeas/configuration/LOG_ftp_backup.conf and copy the content.

FTP_HOST=myipaddress # Default FTP server IP
FTP_USER=myusername  # # Hardcoded FTP username (secure this file!)
FTP_PASS=mypassword  # Hardcoded FTP password (secure this file!)
