<div class="modal-header">
    <h4 class="modal-title">Download/Upload Config Files</h4>
    <button type="button" class="close modal-close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="file-box">
        <a href="{{download()}}" target="_blank"><button type="button"
                class="btn btn-secondary btn-modal">Download</button></a>
    </div>
    <div class="file-box">
        <input type='file' (change)="onSelectFile($event)" multiple accept="text/xml">
        <button type="button" class="btn btn-secondary btn-modal" (click)="upload()">Upload</button>
        <div style="margin-top: 10px; white-space: pre-line; color: red;">{{error}}</div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal" (click)="dismiss()">Cancel</button>
</div>