<div class="max-width">
    <button class="btn btn-secondary btn-flat p-3 m-3" (click)="toggleShowOptions()">Show options</button>
    <div *ngIf="showOptions" class="list-group mb-3">
        <div class="list-group-item list-flat-item" *ngFor="let column of columns" (click)="onColumnClick(column)">
            <label class="form-check-label pl-4" style="width: 100%; height: 100%;">
                <input type="checkbox" [checked]="column.isVisible" (change)="onColumnClick(column)"><span
                    class="box"></span>
                <div class="list-item-text2">{{column.displayName}}</div>
            </label>
        </div>
        <div class="list-group-item list-flat-item" style="margin-top: 20px;" (click)="onLinkedClick()">
            <label class="form-check-label pl-4" style="width: 100%; height: 100%;">
                <input type="checkbox" [checked]="showLinked" (change)="onLinkedClick()"><span class="box"></span>
                <div class="list-item-text2">Show Linked</div>
            </label>
        </div>
        <div class="list-group-item list-flat-item" (click)="onUnlinkedClick()">
            <label class="form-check-label pl-4" style="width: 100%; height: 100%;">
                <input type="checkbox" [checked]="showUnlinked" (change)="onUnlinkedClick()"><span class="box"></span>
                <div class="list-item-text2">Show Unlinked</div>
            </label>
        </div>
        <div class="list-group-item list-flat-item" style="margin-top: 20px;" (click)="onCan1Click()">
            <label class="form-check-label pl-4" style="width: 100%; height: 100%;">
                <input type="checkbox" [checked]="showCan1" (change)="onCan1Click()"><span class="box"></span>
                <div class="list-item-text2">Show CAN0</div>
            </label>
        </div>
        <div class="list-group-item list-flat-item" (click)="onCan2Click()">
            <label class="form-check-label pl-4" style="width: 100%; height: 100%;">
                <input type="checkbox" [checked]="showCan2" (change)="onCan2Click()"><span class="box"></span>
                <div class="list-item-text2">Show CAN1</div>
            </label>
        </div>
        <div class="list-group-item list-flat-item">
            <button class="btn btn-secondary p-3 btn-flat save" (click)="toggleLogModal()">Check
                logs</button>
        </div>
    </div>
    <div class="m-3 flex-end">
        <div *ngIf="showUnsaved" class="unsaved h5">You have unsaved configurations</div>
    </div>
</div>