<div class="modal-header">
    <h4 class="modal-title">Link Sensor</h4>
    <button type="button" class="close" (click)="no()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="form-group row">
        <label for="iso" class="col-sm-3 col-form-label col-form-label-sm">ISO code</label>
        <div class="col-sm-8">
            <select id="iso" class="form-control form-control-sm" [(ngModel)]="selectedIsoCode" (change)="onSelectIsoCode()">
                <option *ngFor="let isoStandard of isoStandards" value={{isoStandard.iso_code}}>{{isoStandard.iso_code}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="unit" class="col-sm-3 col-form-label col-form-label-sm">Unit</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="unit" type="text" disabled value="{{data['unit']}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label col-form-label-sm">Description</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="description" [(ngModel)]="selectedIsoStandard?.attributes.description">
        </div>
    </div>
    <div class="form-group row">
        <label for="min" class="col-sm-3 col-form-label col-form-label-sm">Min value</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="min" [(ngModel)]="selectedIsoStandard?.attributes.min"> 
        </div>
    </div>
    <div class="form-group row">
        <label for="max" class="col-sm-3 col-form-label col-form-label-sm">Max value</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="max" [(ngModel)]="selectedIsoStandard?.attributes.max">
        </div>
    </div>
    <div style="color: red;" ngDefaultControl [(ngModel)]="error">{{error}}</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="yes()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="no()">No</button>
</div>