<div class="modal-header">
    <h4 class="modal-title">Log files</h4>
    <button type="button" class="close modal-close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let log of logs">
        <div class="list-group-item list-flat-item" (click)="onLogOpen(log)">
            <label class="form-check-label" style="width: 100%; height: 100%;">
                <div class="list-item-text">{{log}}</div>
            </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal" (click)="dismiss()">Cancel</button>
</div>