.link {
    color: white;
    background-color: forestgreen;
}

.link:active {
    color:#000 !important;
    background-color: white !important;
    border-color:white !important;
}

.modal-line {
    border-top: 1px solid #dee2e6;
}